.contactContainer {
  position: relative;
  border: #3b4043 solid 1px;
  margin: 0 4rem;

  .contactSubSection {
    padding: 4rem;
    position: relative;

    &.info {
      border-right: #3b4043 solid 1px;
    }

    &.social {
      border-right: #3b4043 solid 1px;
      border-top: #3b4043 solid 1px;
    }
  }

  .contactSectionTitle {
    color: #3b4043;
    font-weight: bolder;
    font-size: 48px;
    text-align: right;
    letter-spacing: 11.52px;

    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  }

  .contactContainerTitle {
    position: absolute;
    top: -1.5rem;
    left: 4rem;
  }
}
