.contactContainer {
  position: relative;
  border: #3b4043 solid 1px;
  margin: 0 1rem;

  .contactSubSection {
    padding: 4rem 2rem;
    position: relative;

    &.social {
      border-top: #3b4043 solid 1px;
    }

    &.email {
      border-top: #3b4043 solid 1px;
    }

    &:hover {
      .contactSectionTitle {
        color: #f5f5f5;
      }
    }
  }

  .contactSectionTitle {
    color: #3b4043;
    font-weight: bolder;
    font-size: 48px;
    text-align: right;
    letter-spacing: 11.52px;

    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;

    transition: color 0.3s;
  }

  .contactContainerTitle {
    position: absolute;
    top: -1.5rem;
    left: 4rem;
  }
}

@media (min-width: 768px) {
  .contactContainer {
    margin: 0 4rem !important;
  }

  .contactSubSection {
    padding: 3.5rem !important;
  }
}

@media (min-width: 1024px) {
  .info {
    border-right: #3b4043 solid 1px !important;
  }

  .social {
    border-right: #3b4043 solid 1px !important;
    border-top: #3b4043 solid 1px !important;
  }

  .email {
    border-top: none !important;
  }
}
