@tailwind base;
@tailwind components;
@tailwind utilities;

$black: #222425;
$grey: #3b4043;
$white: #f5f5f5;

@font-face {
  font-family: "fungis";
  src: url("../assets/fonts/FUNGIS/FUNGIS-Regular\ 400.otf") format("opentype");
}

@font-face {
  font-family: "fungis";
  font-weight: bold;
  src: url("../assets/fonts/FUNGIS/FUNGIS-Bold\ 700.otf") format("opentype");
}

@font-face {
  font-family: "fungis";
  font-weight: 800;
  src: url("../assets/fonts/FUNGIS/FUNGIS-Heavy\ 700.otf") format("opentype");
}

@font-face {
  font-family: "rota";
  src: url("../assets/fonts/rota/Rota-Light.otf") format("opentype");
}

@font-face {
  font-family: "rota";
  font-weight: bold;
  src: url("../assets/fonts/rota/Rota-Bold.otf") format("opentype");
}

h1 {
  font-family: "fungis";
  line-height: normal;
}

h2 {
  font-family: "fungis";
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 1.6px;
}

.descriptionText {
  font-family: "fungis";
  font-weight: bold;
  letter-spacing: 3.6px;
  font-size: 12px;
}

p {
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 1.5px;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: $black;
  color: $white;
  font-family: "rota", Arial, Helvetica, sans-serif;
}

.circle {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.circle:hover {
  background-color: #222425;
}

.feather {
  stroke: #f5f5f5;
  stroke-width: 1.5px;

  transition: stroke 0.2s;
}

a .feather:hover {
  stroke: #3b4043;
}

a {
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-decoration: underline;
  cursor: pointer;
}

.inputContainer {
  position: relative;

  > .input,
  > .textarea {
    width: 100%;
    padding: 0.75rem 1.5rem 0.5rem 1.5rem;
    background-color: transparent;
    border: #3b4043 solid 1px;

    font-size: 1.5rem;
    font-family: rota;
    letter-spacing: 1.5px;

    resize: none;
    vertical-align: top;

    &:focus {
      outline: none;
    }
  }

  > .inputLabel {
    font-size: 0.75rem;
    font-family: "fungis";
    letter-spacing: 3.6px;

    position: absolute;
    bottom: -0.75rem;
    left: 2rem;
  }
}

textarea::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.button {
  padding: 1rem 2rem;
  border: #3b4043 solid 1px;

  font-size: 0.75rem;
  font-family: "fungis";
  letter-spacing: 3.6px;

  transition: background-color 0.2s;

  &:hover {
    background-color: $grey;
  }
}

.projects {
  height: 60rem;
  width: 100vw;
  overflow-x: scroll;
  padding: 2px;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .project {
    height: 100%;
    width: 20rem;
    position: relative;
    flex-shrink: 0;

    outline: #3b4043 1px solid;

    margin-top: 1px;
    margin-left: 1px;

    > .projectImageOverlay {
      height: 85%;
      width: 100%;

      position: absolute;
      top: 0;
      left: 0;

      background: rgba(0, 0, 0, 0.75);

      transition: opacity 0.3s;

      &:hover {
        opacity: 0.2;
      }
    }

    > .projectImage {
      height: 85%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (min-width: 1920px) {
  .projectsSection {
    align-items: center;
  }

  .projects {
    width: 120rem;
  }
}
