.logoText {
  font-size: 24px;
  font-weight: bold;
}

.navbarItemsContainer {
  width: 100%;
  padding: 0.3rem;
  border: 1px #3b4043 solid;

  .navbarItem {
    padding: 1.5rem;
    width: 125px;

    > p {
      font-size: 14px;
      letter-spacing: 0.77px;
      text-align: center;
    }

    &.isSelected {
      font-weight: bold;
      background-color: #3b4043;
    }
  }

  .navbarItem:hover {
    background-color: #3b4043;

    > p {
      font-weight: 700;
    }
  }
}
