.skillsContainer {
    height: 25rem;
    overflow-y: scroll;
    padding-right: 1px;

    .skillContainer {
        padding: 2rem 3rem;
        min-height: 10rem;
        outline: #3b4043 1px solid;

        margin-top: 1px;
        margin-left: 1px;
        position: relative;

        .skillNumber {
            width: 8rem;

            position: absolute;
            bottom: 20px;
            right: 20px;

            padding-bottom: 1.5rem;

            > h1 {
                color: #3b4043;
                font-weight: bolder;
                font-size: 100px;
                line-height: 0;
                text-align: right;
                letter-spacing: normal;
            }
        }
    }
}

.skillsContainer::-webkit-scrollbar {
    display: none;
}
